<%= render @question %>

<div class="btn-group mt-2">
  <%= link_to "Back to questions", questions_path, class: "btn btn-secondary" %>
  <%= link_to "Edit this question", edit_question_path(@question), class: "btn btn-warning" %>
  <%= link_to "Destroy this question", @question, data: { 'turbo-method': :delete }, class: "btn btn-danger" %>
</div>
