<h1>Editing race edition</h1>

<%= render "form", race_edition: @race_edition %>

<br>

<div>
  <%= link_to "Show this race edition", @race_edition %> |
  <%= link_to "Back to race editions", race_editions_path %>
</div>
