<div class="text-center mt-2">
  <h2>ISMF Quiz</h2>
  <p class="lead">
    Learn and have fun with random cases!
  </p>

  <% if Question.all.any? %>
    <%= render 'questions/random', question: Question.all.sample %>
  <% end %>
</div>
