<h1>Puzzles</h1>

<div class="row align-items-start">
  <%= link_to "New puzzle", new_puzzle_path %>
</div>

<div id="puzzles" class="text-center row align-items-center">
  <% @puzzles.each do |puzzle| %>
    <div class="col" %>
      <%= render puzzle %>
    </div>
  <% end %>
</div>


